{
  "presets": [
    "es2015",
    "react",
    "babel-preset-stage-2"
  ],
  "plugins": [
    "transform-function-bind"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-rewire"
      ]
    }
  }
}
