{
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "google"
  ],
  "globals": {
    "document": false,
    "expect": false,
    "navigator": false,
    "sinon": false,
    "window": false
  },
  "rules": {
    "comma-dangle": 0,
    "key-spacing": 0,
    "max-len": 0,
    "no-multi-spaces": 0,
    "react/no-unescaped-entities": 0,
    "require-jsdoc": 0,
    "space-before-function-paren": 0
  }
}
