.app-container {
  min-height : 100vh;
  overflow   : hidden;
  position   : relative;
  width      : 100%;

  .page-container {
    margin-left : 200px;
    width       : 100%;

    .page {
      height : 100%;
      width  : 100%;
    }
  }
}