.navBarComponent {
  background-color : gray;
  color            : white;
  width            : 200px;
  height           : 100%;
  position         : absolute;

  a {
    display : block;
    color   : black;
    margin  : 20px;
  }
}