.filesComponent {
  background-color : palegoldenrod;

  .component {
    width  : 100%;
    height : 200px;
  }

  .one {
    background-color : white;
  }

  .two {
    background-color : darkgrey;
  }

  .three {
    background-color : white;
  }
}